# chapter 04 ( list and tuples)
#### list are the container to store a set of values of any data type.
### example:- [ " apple", "akash", "rohan", 7, false]
#### list are always orderd

#### we can create the list using differenr types of data types.

In [2]:
a=[1,"sakshi",2,"shreya",3,"kajal"]
print(a)

[1, 'sakshi', 2, 'shreya', 3, 'kajal']

#### list me v index 0 se start hoti hai.

### create  list using [ ] seperated by commas. And print the list using print function()

In [6]:
print(a[0])

1

In [4]:
print(a[4])

3

In [5]:
print(a[5])

kajal

### we can also change the element of list using by the following way.

##### access using indexed using a[0], a[4], a[2],

In [9]:
a[0]=5

In [10]:
print(a)

[5, 'sakshi', 2, 'shreya', 3, 'kajal']

In [11]:
a[2]="shivangi"
print(a)

[5, 'sakshi', 'shivangi', 'shreya', 3, 'kajal']

In [12]:
a[0]="priya"
print(a)

['priya', 'sakshi', 'shivangi', 'shreya', 3, 'kajal']

### list slicing

In [13]:
print(a[0:4])

['priya', 'sakshi', 'shivangi', 'shreya']

In [14]:
print(a[0:6:2])

['priya', 'shivangi', 3]

# list methods

In [4]:
L1= [87,34,1,4,56,76,34,74,9,86]

### List sorting

In [5]:
L1.sort()
print(L1)

[1, 4, 9, 34, 34, 56, 74, 76, 86, 87]

### list reversing

In [27]:
L1.reverse()
print(L1)

[87, 86, 76, 74, 56, 34, 34, 9, 4, 1, 66, 66, 5, 5]

### list append

###### append at the ends  of the list ( appends means is to add something at the end of the written document)

In [7]:
L1.append(5)
print(L1)

[1, 4, 9, 34, 34, 56, 74, 76, 86, 87, 5]

### list inserting

In [9]:
L1.insert(3,0)
print(L1)

[1, 4, 9, 0, 0, 34, 34, 56, 74, 76, 86, 87, 5]

In [30]:
L1.insert(0,333)
print(L1)

[333, 87, 86, 76, 0, 74, 56, 34, 34, 9, 4, 1, 66, 66, 5, 5, 5]

### list poping
###### ( it will delet the element form the given indexed)

In [12]:
L1.pop(2) ## remove element at index 2
print(L1)

[1, 4, 0, 34, 34, 56, 74, 76, 86, 87, 5]

### list removing

In [14]:
L1.remove(87) ### remove the element 87 from the list
print(L1)

[1, 4, 0, 34, 34, 56, 74, 76, 86, 5]

In [15]:
L1.remove(5)
print(L1)

[1, 4, 0, 34, 34, 56, 74, 76, 86]

# TUPLES

#### creating the tuples using parenthesis ()

In [19]:
t=(1,2,3,4,5,6,7,8,9)

### printing the elements of a tuples.

In [20]:
print(t[0])

1

In [22]:
print(t[5])

6

### we cannot change the value of tupes

###### a tuple is an immutable data type in python (immutable means can not change)

 ###### a=()  - empty tuple
  ##### a=(1 ,)   :- tuple with only one element needs a comma 
##### a=(1,2,4,5) :- tuple with more than one element
### the value of tuple cant be change or altered or manipulated

In [1]:
t=()
print(t) ##  empty tuple

()

In [2]:
t1=(1)
print(t1) ## wrong way to declare a tuple with single element..

1

In [3]:
t1=(1,)
print(t1) ### right way to declare a tuple with single element

(1,)

### tuple method

#### tuple count method

In [11]:
a=(7,4,8,2,3,5,4)
print(a.count(1))

0

In [13]:
print(a.count(4))

2

### tuple index method

In [16]:
print(a.index(8))

2

In [17]:
print(a.index(4))

1

# practice set of chapter 4 (list and tuples)

##### Q.1 write a program to store seven fruits in a list entered by the user.

In [23]:
F1=input("enter your fruit number 1")

enter your fruit number 1 banana

In [24]:
F2=input("enter your fruit number 2")

enter your fruit number 2 apple

In [25]:
F3=input("enter your fruit number 3")

enter your fruit number 3 guava

In [26]:
F4=input("enter your fruit number 4")

enter your fruit number 4 orange

In [27]:
F5=input("enter your fruit number 5")

enter your fruit number 5 pineapple

In [28]:
F6=input("enter your fruit number 6")

enter your fruit number 6 blackberry

In [29]:
F7=input("enter your fruit number 7")

enter your fruit number 7 grapes

In [30]:
myfruitList =[F1,F2,F3,F4,F5,F6,F7]
print(myfruitList)

['banana', 'apple', 'guava', 'orange', 'pineapple', 'blackberry', 'grapes']

##### Q.2 write a program to accept marks of 6 students and display them in a sorted manner.

In [51]:
student1=int(input("enter the marks of student 1"))

enter the marks of student 1 78

In [52]:
student2=int(input("enter the marks of student 2"))

enter the marks of student 2 56

In [49]:
student3=int(input("enter the marks of student 3"))

enter the marks of student 3 99

In [53]:
student4= int(input("enter the marks of student 4"))

enter the marks of student 4 76

In [54]:
student5=int(input("enter the marks of student 5"))

enter the marks of student 5 66

In [55]:
student6=int(input("enter the marks of student 6"))

enter the marks of student 6 33

In [56]:
sortedmarkslist=[student1,student2,student3,student4,student5,student6]
sortedmarkslist.sort()
print(sortedmarkslist)

[33, 56, 66, 76, 78, 99]

In [59]:
print(type(sortedmarkslist))

<class 'list'>

In [60]:
print(type(student5))

<class 'int'>

##### Q.3 check that the tuples cant be changed in python

In [1]:
t=(3,9,45 ,23,36,20)
t[1]=77
print(t)

TypeError: 'tuple' object does not support item assignment

###### hence prooved that tuples cant be changed.

### in python every datatype is a object

 ### Q.4 write a program to sum a list with 4 number.

In [6]:
a=[1,4,5,7] 

print(a[0]+a[1]+a[2]+a[3])

17

In [7]:
print(sum(a))

17

#### Q.5 write a program to count the number of zeros in the following tuple

In [10]:
a=(4,0,55,0,23,0,0,2)
print(a.count(0))

4