# string

In [1]:
a= " harry"
print(a)

 harry

#### string is always written in single quotes, double quotes and tripple quotes.

In [ ]:
a="23456"
## here a is a string

In [3]:
a="34546"
print (a+5)

TypeError: can only concatenate str (not "int") to str

### here its a syntax erroe because  we can't add integer in string

#### so her we will do type casting

###### it means we will try to change the data type

In [4]:
a="234"
a=int(a)
print(a+5)

239

# input function

In [8]:
a= input("enter your name")
print (a)

enter your name 34

34

In [7]:
print(a)

sakshi

#### in input function every input it takes is a string

In [10]:
b= input("inter your class :")
print (b)

inter your class : 8

8

In [11]:
print(type(b))

<class 'str'>

In [12]:
b=int(b) ### convert b to integer
print(type(b))

<class 'int'>

In [2]:
c=input(" enter your fathers name:")

 enter your fathers name: sanjay kumar chaudhary

In [4]:
b="sakshi"
print(b)

sakshi

### string slicing

In [5]:
name="sakshi"
print(type(name))

<class 'str'>

##### in string we can concatenate the words with the help of '+'.


###### concatenation means joining two or more numbers in a sentence.

#### example

In [17]:
name= "sakshi"
greetings=" GOOD MORNING , "
c= greetings + name
print(c)

 GOOD MORNING , sakshi

### in python indexing of string start from 0

## hence whenever we want any letter from string we write it like this.

In [18]:
name="sakshi"
print(name[0])

s

In [19]:
print(name[4])

h

### slicing

##### whenever we want to extract two or more than two elements we do this type of programming.

In [6]:
name ="sadhabhavna"
print(name[0:6])

sadhab

In [7]:
print(name[2:8])

dhabha

In [11]:
print(name[:11])

sadhabhavna

In [12]:
print(name[0:])

sadhabhavna

### negative indices

### it does indexing with negative numbers and start from back

In [13]:
name="sakshi"
print(name[-4:-1])

ksh

In [17]:
print(name[-3:-2])

s

### slicing with skip value

In [21]:
word=" amazinggirl"
print(word[0:9:1])

 amazingg

In [22]:
print(word[0:11:2])

 mzngr

In [23]:
print(word[0::2])

 mzngr

# string function

#### 01.len function

In [3]:
story=" once upon a time there was a youtuber named harry who uploaded the python video"
print(len(story))

80

### 02. string endswith()

In [4]:
print(story.endswith("wddsfhjfbsdjhfbdshj"))

False

In [5]:
print(story.endswith("video"))

True

### 03. string.count function()

#### it counts the total number of letters in the string.

In [6]:
print(story.count("a"))

6

In [7]:
print(story.count("the"))

2

### 04.  string capitalize()

In [14]:
print(story.capitalize () )

 once upon a time there was a youtuber named harry who uploaded the python video

### 05. string find(word)

In [16]:
print(story.find("youtuber")) #### it means youtuber string me h

30

In [17]:
print(story.find("sakshi"))##### it means sakshi string me nahi h

-1

###### agar koi word ek se jyada h toh python sirf 1st word ka position batAEGA naki whole string k word ka bataega.

### 06. string replace.( oldword newword)

In [20]:
print(story.replace("harry","sakshi"))

 once upon a time there was a youtuber named sakshi who uploaded the python video

## escape sequence character "/".

In [ ]:
introducton=" my name is sakshi shreya \n i belongs to bihar \n i persuing betech from chandigarh \n i want to.

In [25]:
c=" my name is sakshi shreya \n i belongs to bihar \n i persuing betech from chandigarh \n i want to work as data scientist."
print(c)

 my name is sakshi shreya
 i belongs to bihar
 i persuing betech from chandigarh
 i want to work as data scientist.

### \tab()

In [2]:
name ="my name is sakshi\n i belong to\t bihar"
print(name)

my name is sakshi
 i belong to	 bihar

In [4]:
profile=" my name is \'sakshi shreya\'"
print(profile)

 my name is 'sakshi shreya'

In [7]:
profile =" \\i am very good in communication\\"
print(profile)

 \i am very good in communication\

# practice set chapter 3:-

### Q.1 write a python program to display a user entered name followed by good afternoon using input function()

In [10]:
name=input("enter your name")
a=" Good Afternoon "
print(a+name)

enter your name sakshi

 Good Afternoon sakshi

### Q.2 write a program to fill in a letter template given below with name and date.

In [20]:
letter= '''
dear <|name|>,
good morning.
hope you are good enough.
i am glad to tell you that
you are selected!

 Date: <|date|>
 ''' 
name=input("enter your name: ")
date =input("enter date: ")
letter=letter.replace("<|name|>",name)
letter=letter.replace("<|date|>", date)
print(letter)

enter your name:  Sakshi Shreya
enter date:  15 march 2023

dear Sakshi Shreya,
good morning.
hope you are good enough.
i am glad to tell you that
you are selected!

 Date: 15 march 2023

In [2]:
 invetation =''' 
 
 Dear <|name|>,
 
 good morning,
 i hope you are good,
 i invite you to join my birthday party,
 date: <|date|>
 time: <|time|>
 '''
name=input("enter your name")
date=input("enter date")
time=input("enter time")
invetation=invetation.replace("<|name|>", name)
invetation=invetation.replace("<|date|>", date)
invetation=invetation.replace("<|time|>", time)
print(invetation)

enter your name kk madhav
enter date 19 october
enter time 5 o clock

Dear kk madhav,

good morning,
i hope you are good,
i invite you to join my birthday party,
date: 19 october
time: 5 o clock

### Q.3 write a program to detect double spaces in a string.

In [2]:
string=" this is the string with the double  spaces."
doublespaces=string.find("  ")
print(doublespaces)

35

In [3]:
triplespaces=string.find("   ")
print(triplespaces)

-1

### Q.4 replace the double spaces from the problem 3 with the single spaces.

In [4]:
doublespaces=string.replace("  "," ")
print(doublespaces)

 this is the string with the double spaces.

### Q.5 write a program to format the following letter using escape sequence characters.

In [5]:
letter=" dear sakshi, \n this python course is very helpful, \n i am glad that i can acces this course.\n thanks regards!..."
print(letter)

 dear sakshi,
 this python course is very helpful,
 i am glad that i can acces this course.
 thanks regards!...